#!/bin/bash

#set -x

source {{ SCRIPTDIR }}/wod.sh
source {{ SCRIPTDIR }}/functions.sh

# Do we need LDAP setup or not
if [ _"`get_ldap_status $wid`" != _"false" ]; then
	echo "This is a setup with LDAP"
	LDAPSETUP=1
else
	LDAPSETUP=0
fi

if [ -f "{{ ANSIBLEPRIVDIR }}/setup_appliance.yml" ]; then
	echo "Use private ansible to setup generic remote appliance at $RTARGET"
	ansible-playbook {{ ANSIBLEPRIVDIR }}/setup_appliance.yml -i $RTARGET, -e "RTARGET=$RTARGET WORKSHOP=$w APPMIN=$APPMIN APPMAX=$APPMAX LDAPSETUP=$LDAPSETUP LDAPDMN={{ LDAPDMN }} LDAPSRVNAME={{ LDAPSRVNAME }}" $ANSPLAYOPT $ANSPRIVOPT
	echo "Final private generic script setup phase for $w on remote appliance $RTARGET"
fi
if [ -f "{{ ANSIBLEPRIVDIR }}/setup_${w}_appliance.yml" ]; then
	echo "Use private ansible to setup specificities for $w on remote appliance $RTARGET"
	ansible-playbook {{ ANSIBLEPRIVDIR }}/setup_${w}_appliance.yml -i $RTARGET, -e "RTARGET=$RTARGET WORKSHOP=$w APPMIN=$APPMIN APPMAX=$APPMAX LDAPSETUP=$LDAPSETUP LDAPDMN={{ LDAPDMN }} LDAPSRVNAME={{ LDAPSRVNAME }}" $ANSPLAYOPT $ANSPRIVOPT
	echo "Final private specific script setup phase for $w on remote appliance $RTARGET"
fi

exit 0
