#!/bin/bash

#set -x

source /etc/wod.sh
source {{ WODSCRIPTDIR }}/functions.sh

# Do we need LDAP setup or not
if [ _"`wod_get_ldap_status $wid`" != _"false" ]; then
	echo "This is a setup with LDAP"
	WODLDAPSETUP=1
else
	WODLDAPSETUP=0
fi

if [ -f "{{ WODANSIBLEPRIVDIR }}/setup_appliance.yml" ]; then
	echo "Use private ansible to setup generic remote appliance at $WODRTARGET"
	ansible-playbook {{ WODANSIBLEPRIVDIR }}/setup_appliance.yml -i $WODRTARGET, -e "WODRTARGET=$WODRTARGET WORKSHOP=$w WODAPPMIN=$WODAPPMIN WODAPPMAX=$WODAPPMAX WODLDAPSETUP=$WODLDAPSETUP WODLDAPDMN={{ WODLDAPDMN }} WODLDAPSRVNAME={{ WODLDAPSRVNAME }}" $WODANSPLAYOPT $WODANSPRIVOPT
	echo "Final private generic script setup phase for $w on remote appliance $WODRTARGET"
fi
if [ -f "{{ WODANSIBLEPRIVDIR }}/setup_${w}_appliance.yml" ]; then
	echo "Use private ansible to setup specificities for $w on remote appliance $WODRTARGET"
	ansible-playbook {{ WODANSIBLEPRIVDIR }}/setup_${w}_appliance.yml -i $WODRTARGET, -e "WODRTARGET=$WODRTARGET WORKSHOP=$w WODAPPMIN=$WODAPPMIN WODAPPMAX=$WODAPPMAX WODLDAPSETUP=$WODLDAPSETUP WODLDAPDMN={{ WODLDAPDMN }} WODLDAPSRVNAME={{ WODLDAPSRVNAME }}" $WODANSPLAYOPT $WODANSPRIVOPT
	echo "Final private specific script setup phase for $w on remote appliance $WODRTARGET"
fi

exit 0
